h1 {
  margin: 6rem auto;
  border-bottom: 7px solid #28a745;
}

header#home {
  height: 100vh;

  nav.navbar {
    .container {
      .navbar-brand {
        img {
          width: 3.8rem;
        }
      }

      div#navbarNav {
        ul.navbar-nav {
          li.nav-item {
            a.nav-link {
              border-bottom: 4px solid transparent;

              &:hover {
                color: #28a745 !important;
                border-bottom: 4px solid #28a745;
              }
            }
          }
        }
      }
    }
  }

  section#who {
    height: 100%;

    .container {
      height: 100%;
      padding-top: 10%;

      a {
        margin-top: 5rem;

        .down-arrow {
          position: relative;
          display: inline-block;
          cursor: pointer;
          top: 75%;
          left: 50%;
          width: 25px;
          height: 25px;
          border-radius: 50%;
          box-sizing: border-box;
        }

        .down-arrow::before {
          content: "";
          position: absolute;
          box-shadow: 4px 4px 0 0 #fff;
          left: 50%;
          top: 50%;
          width: 100%;
          height: 100%;
          -webkit-transform: translate(-50% -70%) rotate(45deg) rotateY(0deg) rotateX(0deg);
          transform: translate(-50%, -70%) rotate(45deg) rotateY(0deg) rotateX(0deg);
          -webkit-transition: -webkit-transform .7s;
          transition: transform .7s;
          box-sizing: border-box;
        }

        .down-arrow:hover::before {
          box-shadow: 4px 4px 0 0 #28a745;
        }
      }

      @media screen and (max-width:767px) {
        p {
          font-size: 2.5rem !important;
          text-align: center !important;
        }
      }
    }
  }
}

section#about {
  .container {
    .socials {
      ul {
        li {
          a {
            color: white;
            text-decoration: none;

            i {
              font-size: 3rem;
            }

            &:hover {
              color: #28a745;
            }
          }

          &:hover {
            transform: scale(1.2);
          }
        }
      }
    }
  }
}

section#skills {
  .container {
    ul {
      margin: 5rem 0;

      li {
        a {
          text-decoration: none;

          i {
            font-size: 4rem;
            color: white;

            &:hover {
              color: #28a745;
            }
          }
        }

        &:hover {
          transform: scale(1.2);
        }
      }
    }

    @media screen and (max-width:767px) {
      .h5 {
        font-size: 0.85rem !important;
      }
    }
  }
}

section#projects {
  .container {

    ul {
      margin: 2rem 0;

      li {
        a {
          text-decoration: none;

          i {
            font-size: 4rem;
            color: white;

            &:hover {
              color: #28a745;
            }
          }
        }

        &:hover {
          transform: scale(1.2);
        }
      }
    }

    @media screen and (max-width:767px) {

      .reverse {
        flex-direction: column-reverse;
      }

      .h6 {
        font-size: 0.85rem !important;
      }
    }
  }
}

section#contact {
  .container {
    .socials {
      ul {
        li {
          a {
            color: white;
            text-decoration: none;

            i {
              font-size: 3rem;
            }

            &:hover {
              color: #28a745;
            }
          }

          &:hover {
            transform: scale(1.2);
          }
        }
      }
    }

    .backToTop {
      margin: 6rem auto;

      a.text-light:hover,
      a.text-light:focus {
        text-decoration: none;
        color: #28a745 !important;
      }

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}

footer#footer {
  margin-top: 7rem;
  margin-bottom: 2rem;
}